.main-wrapper {
    padding: 1rem
}

/* overwrite btn from global.css */
.btn {
    background: transparent;
    color: var(--jet-black);
}

/* overwrite btn from global.css */
.btn:hover {
    background: #020403;
    transform: scale(1);
    font-weight: bold;
    color: var(--light-gray)
}

.event__title {
    text-align: center;
}

.event__date {
    display: block;
    text-align: center;
    color: var(--gray);
    font-weight: bold;
}

.event__img-wrapper {
    position: relative;
}

.event__img {
    width: 100%;
    object-fit: cover;
    max-height: 15rem;
    border-radius: 8px;
    filter: brightness(0.6);
}


.event__slots {
    position: absolute;
    color: #FFF;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    right: 0;
    bottom: 0;
    padding: 1rem;
}

.event__description {
    text-align: justify;
}